<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.origeek.imagePicker">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.origeek.imagePicker.activity.PickerActivity"
            android:exported="true" />
    </application>

</manifest>